/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../components/variables.scss';

.root {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .root {
    justify-content: flex-start;
  }
}