@import '../../components/variables.scss';

.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: $screen-lg-min;
  width: 100%;
}

.pane {
  background: #E5D0A8 url(./background.png);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 516px;
  min-height: 525px;
}

.right {
  margin: 38px 40px 0 40px;
}
.left {
  margin: 0 24px;
}

.soon {
  line-height: 525px;
  text-align: center;
  font-size: 20px;
  color: #c75f27;
}

@media (max-width: 960px) {
  .root {
    flex-direction: column-reverse;
  }
  .left {
    margin: 0;
    width: 100%;
  }
  .right {
    margin-bottom: 38px;
  }
  .pane {
    width: 100%;
    border-radius: 0;
  }
  .tabs{
    width: 100vw;
    margin: auto!important;
  }
}
