@import "../variables.scss";

.tabsLabels {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    a {
      padding: 8px 12px;
      display: block;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 2px solid #f5f5f5;
      &.active {
        border-bottom-color: $orange;
        color: $orange;
      }
    }
  }
}

.tabsContent {
}