@import "../ui/form.scss";

.form {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 484px;
  margin: auto;
}

.name {
  max-width: 290px;
  width: calc(100% - 24px);
  margin-right: 16px;
}

.race {
  width: 130px;
}

.classBox {
  display: flex;
  justify-content: space-between;
  max-width: 486px;
  width: 100%;
  margin-bottom: 8px;
}

.class {
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 50%;
  background-size: contain;
  transition: all .2s ease-out;

  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.cahBlock {
  width: 230px;
  margin-right: 16px;
}

.cost {
  width: 42px;
  text-align: center;
  margin-right: 16px;
}

.attack {
  width: 42px;
  text-align: center;
  margin-right: 16px;
}

.health {
  width: 42px;
  text-align: center;
}

.rarityContent {
  width: 154px;
}

.rarityBox {
  display: flex;
  justify-content: space-between;
}

.rarity {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-size: contain;
  cursor: pointer;
  transition: all .2s ease-out;

  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.description {
  max-width: 484px;
  height: 180px;
}

.save {
  width: 100%;
  text-align: right;
}

@media (max-width: 450px) {
  .classBox {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}