/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.scss';

.root {
  flex: 0 0 auto;
  font-family: 'Belwe Bd BT Bold';
  color: #ffffff;
  font-size: 50px;
  height: 150px;
  text-align: center;
  line-height: 150px;
}

.name {

}
