/*
 * Colors
 * ========================================================================== */
$orange: #E65100;
$white-base: hsl(255, 255, 255);
$gray-darker: color(black lightness(+13.5%));  /* #222 */
$gray-dark: color(black lightness(+25%));      /* #404040 */
$gray: color(black lightness(+33.5%));         /* #555 */
$gray-light: color(black lightness(+46.7%));   /* #777 */
$gray-lighter: color(black lightness(+93.5%)); /* #eee */

/*
 * Typography
 * ========================================================================== */

$font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */

