@keyframes move {
  from {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1px, 2px);
  }
  50% {
    transform: translate(2px, 0px);
  }
  75% {
    transform: translate(1px, -2px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

.root {
  position: relative;
  max-width: 354px;
  width: 80vw;
  height: auto;
  p {
    margin: 0;
  }
}

.svg {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  /*box-shadow: inset 0 0 4px 3px #ffffff, 0 0 5px 2px #ffffff;*/
}

.drop {
  position: absolute;
  width: 48%;
  height: 17%;
  top: 2%;
  left: 23%;
  padding: 25% 6%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  user-select: none;
  &.active {
    background-color: rgba(0, 128, 0, 0.5);
  }
  &.reject {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.description {
  position: absolute;
  top: 300px;
  left: 58px;
  color: #000000;
  width: 250px;
  height: 120px;
  text-align: center;
  display: table;
  line-height: 1.1;
  transform: scale(1.3,1.4);
}

@media (max-width: 440px) {
  .drop {
    font-size: 4vw;
  }
}
