.root {
  position: relative;
  width: 30px;
  text-align: center;
  pointer-events: all;
}

.scroll {
  position: relative;
  left: 14px;
  width: 2px;
  height: 100px;
  margin: 8px 0;
  background-color: #ffffff;
}

.caret {
  position: absolute;
  left: -4px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.button {
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}