@font-face {
  font-family: "Belwe Bd BT Bold";
  src: url("/fonts/d240bdb976394213f6f34c47042a4ca7.eot"); /* IE9*/
  src: url("/fonts/d240bdb976394213f6f34c47042a4ca7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/d240bdb976394213f6f34c47042a4ca7.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/d240bdb976394213f6f34c47042a4ca7.woff") format("woff"), /* chrome、firefox */
  url("/fonts/d240bdb976394213f6f34c47042a4ca7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/d240bdb976394213f6f34c47042a4ca7.svg#Belwe Bd BT Bold") format("svg"); /* iOS 4.1- */
  /*src: url("/fonts/ufonts.com_belwe-bd-bt-bold.ttf") format("truetype")*/
}