@import "../variables.scss";

.input {
  border-radius: 2px;
  border: none;
  padding: 6px 12px;
  margin-bottom: 8px;

  &:focus {
    outline: 0;
  }
}

.label {
  color: $orange;
  font-weight: bold;
  padding-bottom: 8px;
}

.formGroup {
  margin-bottom: 8px;
  width: 100%;
}

.button {
  color: #ffffff;
  background-color: $orange;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0,0,0,.12),0 1px 1px rgba(0,0,0,.2);

  &:hover {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    background-color: #D16027;
  }
  &:active {
    background-color: #D16027;
    box-shadow: none;
  }
}