@import "../variables.scss";

.root {
  height: 100%;
  padding: 0 12px;
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.editor {
  border-top: 1px solid #ddd;
  padding: 8px 0;
  flex: 1;
  cursor: text;
  &:focus {
    outline: 0;
  }
}

.controls {
  font-size: 12px;
  min-height: 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  user-select: none;
  line-height: 36px;
  &.active {
    color: $orange;
  }
}

.separator {
  margin-right: 16px;
  height: 24px;
  background-color: #ddd;
  border-right: #ddd 1px solid;
}